body{
    background:#111;
    color:white;
    text-align:center;
    font-family:Arial;
}

header{
    background:orange;
    padding:20px;
}

button{
    padding:10px 20px;
    border:none;
    background:orange;
    color:white;
}
